.modal {
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  width: 8%;
  position: absolute;
  left: 100%;
  top: 0;
  transform: translateX(-100%);
}

.div-modal {
  overflow: auto;
  font-size: 28px;
  width: 90vw;
  height: 80vh;
  top: 5%;
  position: relative;
}

/*ANIMACIONES*/
.Animation-reload {
  animation: giroCompleto 1s linear;
  animation-fill-mode: forwards;
}

.modalAnimation {
  position: fixed;
  animation: modal 1s linear;
  animation-fill-mode: forwards;
}

.modalAnimationout {
  position: fixed;
  animation: modalout 1s linear;
  animation-fill-mode: forwards;
}

@keyframes giroCompleto {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes modal {
  from {
    top: -90vh;
  }
  to {
    top: 0vh;
  }
}

@keyframes modalout {
  from {
    top: 10vh;
  }
  to {
    top: -90vh;
  }
}
