* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Permanent Marker", cursive !important;
  border: 0;
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none !important;
}
/*margenes*/
.mt-1 {
  margin-top: 1%;
}

.mr-2 {
  margin-right: 1%;
}
body {
  width: 98vw;
  height: 100vh;
  background-color: black;
  color: #121e35;
  font-size: 22px;
}
