.table td,
.table th {
  text-align: center;
  padding: 0.75rem;
}

.table th {
  position: sticky;
  top: -1px;
}

.table th {
  background-color: black;
  color: white;
}

.table thead tr {
  background-color: black;
}
.position {
  position: absolute;
}
table {
  width: 100%;
  background-image: url("../../assets/texturas/textura-mapa.jpg");
  border-collapse: unset;
}

table tr th {
  padding: 25px;
}
