.tutorial-text {
  color: black;
  position: fixed;
  background: white;
  border-radius: 20%;
  text-align: center;
  margin-top: 40vh;
  transform: translate(-50%, -50%);
  margin-left: 45vw;
  padding: 10px;
}
