/*card mobile*/
.container-choose-nation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}
.container-choose-nation .title {
  position: absolute;
  top: 0;
  font-size: 3rem;
  color: white;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .container-choose-nation {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-choose-nation .title {
    top: 5vh;
  }
}

.nation-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  height: 85vh;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px;
}
.nation-card .nation-btn-earth {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../assets/img/nacionTierra.png");
  height: 100%;
  width: 100%;
}
.nation-card .nation-text-earth {
  background-color: #6c6b2b;
  border: solid #2c2b1d;
  text-align: center;
}
.nation-card .nation-btn-fire {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../assets/img/nacionFuego.png");
  height: 100%;
  width: 100%;
}
.nation-card .nation-text-fire {
  background-color: #d56728;
  border: solid #7f2e13;
  text-align: center;
}
.nation-card .nation-btn-water {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../assets/img/nacionAgua.png");
  height: 100%;
  width: 100%;
}
.nation-card .nation-text-water {
  background-color: #82d0e6;
  border: solid #1e3360;
  text-align: center;
}
.nation-card .nation-btn-air {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../assets/img/nacionViento.png");
  height: 100%;
  width: 100%;
}
.nation-card .nation-text-air {
  background-color: #f9d672;
  border: solid #f3994b;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .nation-card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 70vh;
  }
  .nation-card .nation-btn-earth {
    background-image: url("../assets/img/card-tierra.png");
  }
  .nation-card .nation-text-earth {
    background-color: #34a646;
    border: none;
    font-size: 2rem;
    margin: 1rem;
    padding: 10px 0;
  }
  .nation-card .nation-btn-fire {
    background-image: url("../assets/img/card-fuego.png");
  }
  .nation-card .nation-text-fire {
    background-color: #af1b2b;
    border: none;
    font-size: 2rem;
    margin: 1rem;
    padding: 10px 0;
  }
  .nation-card .nation-btn-water {
    background-image: url("../assets/img/card-agua.png");
  }
  .nation-card .nation-text-water {
    background-color: #69b0ce;
    border: none;
    font-size: 2rem;
    margin: 1rem;
    padding: 10px 0;
  }
  .nation-card .nation-btn-air {
    background-image: url("../assets/img/card-viento.png");
  }
  .nation-card .nation-text-air {
    background-color: #e7da00;
    border: none;
    font-size: 2rem;
    margin: 1rem;
    padding: 10px 0;
  }
}

.menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.container-map {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: url("../assets/texturas/textura-mapa.jpg") no-repeat center;
  background-size: cover;
}

.center-map {
  border: 2px solid;
}
@media screen and (min-width: 1024px) {
  .center-map {
    margin: 12.5vh 12.5vw;
    height: 75vh;
    width: 75vw;
    border-radius: 30%;
  }
}

.main-btn {
  background-image: url("../../assets/texturas/btn-map.png");
  background-size: cover;
  border: solid 4px;
  position: absolute;
  font-size: 1.3rem;
  border-radius: 1.5rem;
  padding: 10px;
}
@media screen and (min-width: 1024px) {
  .main-btn {
    font-size: 2rem;
  }
}

.main-btn-circle {
  -webkit-transform: translateY(-48%);
          transform: translateY(-48%);
  border-radius: 50%;
  width: 6.8vw;
  height: 10vh;
  border: solid 4px;
  left: 5.4vw;
  position: absolute;
}

#logout {
  left: 98vw;
  -webkit-transform: translate(-108%, 10%);
          transform: translate(-108%, 10%);
}

#back {
  left: 6.25vw;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
}

#reload {
  position: relative;
  border: 0;
  left: 93.75vw;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
}

/* -----  */
#info {
  background-image: url("../../assets/icons/interrogante.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#player {
  left: 87.65vw;
}

/* -----  */
#verMapa {
  position: relative;
  left: 50vw;
  -webkit-transform: translate(-50%, -83%);
          transform: translate(-50%, -83%);
  font-size: 2rem;
  outline: none;
  border: 0;
}
@media screen and (min-width: 1024px) {
  #verMapa {
    font-size: 3.5rem;
  }
}

#ladder {
  -webkit-transform: translate(10%, -106%);
          transform: translate(10%, -106%);
  top: 0;
  left: 2vw;
}

#noInfoGame {
  left: 68.75vw;
  top: -3.25vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#infoGame {
  left: 31.25vw;
  top: -3.25vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container-buttons {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.top-buttons {
  position: relative;
  top: 3vh;
  height: 0;
}

.middle-buttons {
  position: relative;
  top: 50vh;
}

.bottom-buttons {
  position: relative;
  top: 97vh;
  width: 0;
  height: 0;
}

.table td,
.table th {
  text-align: center;
  padding: 0.75rem;
}

.table th {
  position: sticky;
  top: 0;
}

.table th {
  background-color: black;
  color: white;
}

.table thead tr {
  background-color: black;
}

.position {
  position: absolute;
}

.modal {
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  background: black;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close {
  width: 8%;
  position: absolute;
  left: 100%;
  top: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.div-modal {
  overflow: auto;
  font-size: 28px;
  width: 90vw;
  height: 80vh;
  background: red;
  top: 5%;
  position: relative;
}

/*ANIMACIONES*/
.Animation-reload {
  -webkit-animation: giroCompleto 1s linear;
          animation: giroCompleto 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.modalAnimation {
  position: fixed;
  -webkit-animation: modal 1s linear;
          animation: modal 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.modalAnimationout {
  position: fixed;
  -webkit-animation: modalout 1s linear;
          animation: modalout 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes giroCompleto {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes giroCompleto {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes modal {
  from {
    top: -90vh;
  }
  to {
    top: 0vh;
  }
}
@keyframes modal {
  from {
    top: -90vh;
  }
  to {
    top: 0vh;
  }
}
@-webkit-keyframes modalout {
  from {
    top: 10vh;
  }
  to {
    top: -90vh;
  }
}
@keyframes modalout {
  from {
    top: 10vh;
  }
  to {
    top: -90vh;
  }
}
.container {
  width: 100vw;
}