.d-none{
	display: none !important;
}

.topDock{
	order: 2;
}

/*margenes*/
.mt-1{
	margin-top: 1%;
}

.mr-2{
	margin-right: 1%;
}

input[name*=registre], select {
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.btn-block{
	display: block;
	width: 100%;
	margin: auto;
}

.btn{
	border-radius: 5px;
	padding: 15px;
	margin: 5px;
}

.table td,.table th{
	text-align: center;
	padding: .75rem;
}

.table th{
	position: sticky;
	top: 0;
}

.theadBlack th{
	background-color: black;
	color: white;
}
.position{
	position: absolute;
}
/*fondos*/
.texturaMapa
{
	background-image: url("../assets/texturas/mapaTextura.png");
	background-size: cover;
}
.agua{
	background: url("../assets/icons/selectagua.png");
    background-size: cover;
}
.tierra{
	background-image: url("../assets/icons/selectierra.png");
    background-size: cover;
}
.fuego{
	background-image: url("../assets/icons/selectfuego.png");
	background-size: cover;
}
.viento{
	background-image: url("../assets/icons/selecviento.png");
	background-size: cover;
}

.iconTierra{
	background-image: url("../assets/icons/nacionTierra.png");	
}
.iconFuego{
	background-image: url("../assets/icons/nacionFuego.png");
}
.iconAgua{
	background-image: url("../assets/icons/nacionAgua.png");
}
.iconViento{
	background-image: url("../assets/icons/nacionViento.png");	
}

.iconotierra{
	background-image: url("../assets/icons/icontierra.png");
	background-size: cover;	
}
.iconofuego{
	background-image: url("../assets/icons/iconfuego.png");
	background-size: cover;
}
.iconoagua{
	background-image: url("../assets/icons/iconagua.png");
	background-size: cover;
}
.iconoviento{
	background-image: url("../assets/icons/iconviento.png");
	background-size: cover;	
}

.iconTransparenttierra{
	background-image: url("../assets/icons/transparenttierra.png");
    background-size: cover;			
}
.iconTransparentfuego{
	background-image: url("../assets/icons/transparentfuego.png") !important;
    background-size: cover;		
}
.iconTransparentagua{
	background-image: url("../assets/icons/transparenagua.png");
    background-size: cover;		
}
.iconTransparentviento{
	background-image: url("../assets/icons/transparentviento.png");
    background-size: cover;			
}
.bgtierra{
	background-image: url("../assets/img/bgtierra.png");
	background-size: contain;
}
.bgagua{
	background-image: url("../assets/img/bgagua.png");
	background-size: contain;
}
.bgfuego{
	background-image: url("../assets/img/bgfuego.png");
	background-size: contain;
}
.bgaire{
	background-image: url("../assets/img/bgaire.png");
	background-size: contain;
}
.modalAnimation{
	position: relative;
	animation: modal 1s linear;
	animation-fill-mode: forwards;
}
.modalAnimationout{
	position: relative;
	animation: modalout 1s linear;
	animation-fill-mode: forwards;
}
@keyframes modal {
  from {top: -90vh;}
  to {top: 10vh;}
}
@keyframes modalout {
  from {top: 10vh;}
  to {top: -90vh;}
}