@use "../../utils/mixins" as *;
@use "./console" as *;
@use "./game_info" as *;

.game-control {
  display: grid;
  grid-template-areas: "grid-items chat home";
  grid-template-columns: 7fr 1.5fr 1.5fr;
  overflow: hidden;
  padding: 15px 10px;
  gap: 10px;

  .game-items {
    position: relative;
    grid-area: grid-items;
    overflow: hidden;

    .container-game-items {
      display: flex;
      height: 100%;
      align-items: center;
      background-color: black;
    }
    .btn-action {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }
  }

  #EMOTE_CHAT {
    grid-area: chat;
  }
  #HOME_TEST {
    grid-area: home;
  }
  .button {
    padding: 10px 10px;
    text-align: center;
    height: 100%;
  }
}

body {
  margin: 0;
}

.flex-box {
  display: flex;
}
